html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

body {
  font-family: "Lato"; }

p {
  line-height: 1.5;
  margin: 0 0 1em; }

h1 {
  transition: all 0.2s ease-in-out;
  font-size: 2em; }

address {
  font-style: normal;
  padding: 10px; }

.vcard .org {
  padding-bottom: 10px;
  font-weight: 700; }
.vcard .adr {
  padding-bottom: 10px;
  font-size: 0.8em; }

@font-face {
  font-family: 'mntry';
  src: url('../fonts/mntry.eot');
  src: url('../fonts/mntry.eot?#iefix') format('embedded-opentype'), url('../fonts/mntry.woff2') format('woff2'), url('../fonts/mntry.woff') format('woff'), url('../fonts/mntry.ttf') format('truetype'), url('../fonts/mntry.svg#monterey_btregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'antoniobold';
  src: url('../fonts/Antonio-Bold-webfont.eot');
  src: url('../fonts/Antonio-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Antonio-Bold-webfont.woff2') format('woff2'), url('../fonts/Antonio-Bold-webfont.woff') format('woff'), url('../fonts/Antonio-Bold-webfont.ttf') format('truetype'), url('../fonts/Antonio-Bold-webfont.svg#antoniobold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'antoniolight';
  src: url('../fonts/Antonio-Light-webfont.eot');
  src: url('../fonts/Antonio-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Antonio-Light-webfont.woff2') format('woff2'), url('../fonts/Antonio-Light-webfont.woff') format('woff'), url('../fonts/Antonio-Light-webfont.ttf') format('truetype'), url('../fonts/Antonio-Light-webfont.svg#antoniolight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'antonioregular';
  src: url('../fonts/Antonio-Regular-webfont.eot');
  src: url('../fonts/Antonio-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Antonio-Regular-webfont.woff2') format('woff2'), url('../fonts/Antonio-Regular-webfont.woff') format('woff'), url('../fonts/Antonio-Regular-webfont.ttf') format('truetype'), url('../fonts/Antonio-Regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url('../fonts/icomoon.eot?-b2m3qe');
  src: url('../fonts/icomoon.eot?#iefix-b2m3qe') format('embedded-opentype'), url('../fonts/icomoon.woff?-b2m3qe') format('woff'), url('../fonts/icomoon.ttf?-b2m3qe') format('truetype'), url('../fonts/icomoon.svg?-b2m3qe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-spinner8:before {
  content: "\e981"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-menu2:before {
  content: "\e120"; }

.icon-alarm:before {
  content: "\e600"; }

.icon-favorite:before {
  content: "\e602"; }

.icon-favorite-outline:before {
  content: "\e603"; }

.icon-reorder:before {
  content: "\e604"; }

.icon-dehaze:before {
  content: "\e606"; }

.icon-directions-car:before {
  content: "\e607"; }

.icon-local-airport:before {
  content: "\e609"; }

.icon-local-restaurant:before {
  content: "\e60a"; }

.icon-local-see:before {
  content: "\e60b"; }

.icon-map:before {
  content: "\e60c"; }

.icon-place:before {
  content: "\e60d"; }

.icon-chevron-right:before {
  content: "\e60e"; }

.icon-close:before {
  content: "\e60f"; }

.icon-menu3:before {
  content: "\e610"; }

.icon-umbrella:before {
  content: "\f0e9"; }

.icon-anchor:before {
  content: "\f13d"; }

html, body, .push-contain {
  height: 100%; }

body {
  background: #fff;
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

.shrinkwrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .shrinkwrap::after {
    clear: both;
    content: "";
    display: table; }

#hero {
  height: 250px;
  background: url('../images/hero.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  #hero h1 {
    font-size: 3em;
    bottom: 5%;
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'mntry', Helvetica, sans-serif;
    font-weight: normal;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3); }

#homepage-detail {
  background: #112442;
  padding: 30px 10px; }
  #homepage-detail .detail {
    position: relative;
    text-align: center;
    color: #fff;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #homepage-detail .detail:last-child {
      margin-right: 0; }
    #homepage-detail .detail img {
      width: 100%;
      border: 5px solid #fff;
      box-shadow: 0px 0px 5px 0px #333; }

@media screen and (min-width: 568px)  {
  #hero {
    height: 500px; }
    #hero h1 {
      font-size: 6em; }
  #homepage-detail .detail {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #homepage-detail .detail:last-child {
      margin-right: 0; } }

@media screen and (min-width: 1000px)  {
  #hero {
    height: 100%; }
    #hero h1 {
      font-size: 10em;
      bottom: 5%; }
  #homepage-detail {
    padding: 60px 10px; }
    #homepage-detail .detail {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 8.5298%; }
      #homepage-detail .detail:last-child {
        margin-right: 0; }
      #homepage-detail .detail:nth-child(even) {
        margin-right: 0;
        margin-left: 0%; } }

#menu {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  background: #112442 none repeat scroll 0% 0%;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  z-index: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  font-family: "Lato"; }

.push-contain {
  position: relative;
  left: 0px;
  z-index: 99;
  height: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  -webkit-backface-visibility: hidden; }

body {
  overflow-x: hidden; }

body.menu-open {
  overflow: hidden; }
  body.menu-open .push-contain {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  body.menu-open #menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.menu-trigger {
  position: absolute;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  left: 10px;
  top: 10px;
  z-index: 10000; }
  @media screen and (min-width: 568px)  {
    .menu-trigger {
      top: 30px;
      left: 30px; }
      .menu-trigger:after {
        content: 'menu';
        text-transform: uppercase;
        color: #112442;
        position: absolute;
        left: 110%;
        top: 30%; } }
  .menu-trigger a {
    display: block;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #112442;
    width: 50px;
    height: 50px; }
    .menu-trigger a:before {
      content: '\e610';
      font-family: 'icons';
      position: absolute;
      color: #112442;
      font-size: 30px;
      font-weight: normal;
      margin: 8px 0 0 9px; }
    .menu-trigger a:focus {
      outline: 0; }
    .menu-trigger a span {
      text-indent: -999px;
      display: block; }

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 80px;
  position: relative;
  background: url(../images/rings.png) center 20px no-repeat; }
  #menu ul li {
    margin: 0;
    padding: 0; }
    #menu ul li a {
      display: block;
      padding: 1em;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      text-indent: 0;
      transition: text-indent 0.2s ease-in-out; }
      #menu ul li a:hover {
        text-indent: 10px; }
      #menu ul li a:focus {
        background: rgba(0, 0, 0, 0.1); }

.ribbon {
  width: 100%;
  margin-right: -1em;
  position: absolute;
  text-align: center;
  font-size: 19px !important;
  background-color: #FE7193;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  font-family: 'mntry';
  top: 20px; }
  .ribbon h3 {
    background: transparent;
    font-size: 30px !important;
    color: #112442;
    text-shadow: #d65c5c 0 -1px 0;
    margin: 0px;
    padding: 5px 10px; }

.ribbon-stitches-top {
  margin-top: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5); }

.ribbon-stitches-bottom {
  margin-bottom: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3); }
