// .person img {
//   // width:200px;
//   // height:200px;
//   display:block;
// }


#party-teaser {
  padding: 0 0.5em 0 ;

  .person {
    @include span-columns(2);

    img {
      transform: scale(1);
      transition:transform 0.1s ease-in;
    }

    a {
      &:focus, &:active {
        outline: 0;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }



  .girls {
    // 6 she-dudes, but we render as if 7
    // and offset by 1 so they look right
    @include row;
    .person {
      @include span-columns(2 of 12);
      // &:last-child {
      //   @include omega;
      // }
    }
  }

  .boys { // 7 bros
    @include row;
    .person {
      @include span-columns(2 of 14);
    }
  }


  @include media($tablet) {
    padding: 5em 2em 0;
    .girls {
      @include row;
      .person {
        @include span-columns(2 of 14);
        &:first-child {
          @include shift(1);
        }
      }
    }

    .boys { // 7 bros
      @include row;
      .person {
        @include span-columns(2 of 14);
      }
    }

  }

  @include media($desktop) {
    max-width: em(1000);
    margin:0 auto;

    .person {
      @include span-columns(2);
      img {
      }
    }


  }

}


body.party .panel {

  &.grey .person {
    .name,.duty {
      color: $navy;
    }
  }

  .person {
    @include row;
    padding: 20px 0 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &:last-child {
      border-bottom: none;
    }

    img {
      display: block;
      margin:0 auto;
    }

    .name {
      display:block;
      font-size: rem(20);
      font-family: 'libre-caslon';
      text-transform: uppercase;
    }

    .duty {
      display:block;
      text-transform: uppercase;
      color: #777;
      padding-bottom: rem(10);
      font-family: 'Arvo';
    }

    @include media($tablet) {
      padding: 30px 0 30px;
      border-bottom: none;
      aside {
        @include span-columns(4);
        @include shift(0);
      }
      article {
        @include span-columns(8);
        @include shift(0);
        margin-top: 40px;
      }
    }

    @include media(min-width 800px) {
      padding: 40px 0 40px;
      aside {
        @include span-columns(3);
        @include shift(1);
      }
      article {
        @include span-columns(7);
      }
    }

    @include media($desktop) {
      @include span-columns(6);

      &:nth-child(even) {
        @include omega;
      }

      aside {
        @include span-columns(10);
        @include shift(1);
      }

      article {
        @include span-columns(10);
        @include shift(1);
        margin-top:0;
      }

    }

  }


}


