#hero {
  height: 250px;
  background: url('../images/hero.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  h1 {
    font-size: 3em;
    bottom:5%;
    display:block;
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    text-align: center;
    font-family: 'mntry', Helvetica, sans-serif;
    font-weight:normal;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
  }
}

#homepage-detail {
  background: $navy;
  padding: 30px 10px;

  .detail {
    position:relative;
    text-align: center;
    color: #fff;
    @include span-columns(12);

    img {
      width:100%;
      border: 5px solid #fff;
      box-shadow: 0px 0px 5px 0px #333;
    }

  }
}


@include media($tablet) {
  #hero {
    height: 500px;

    h1 {
      font-size: 6em;
    }
  }

  #homepage-detail {
    .detail {
      @include span-columns(6);
    }
  }
}


@include media($desktop) {
  #hero {
    height: 100%;

    h1 {
      font-size: 10em;
      bottom:5%;
    }
  }

  #homepage-detail {
    padding: 60px 10px;

    .detail {
      @include span-columns(5);
      @include shift(1);

      &:nth-child(even) {
        @include omega;
        @include shift(0);
      }

    }
  }


}

