#hero {
  height: 250px;
  background: url('../images/hero.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  h1 {
    font-size: 4em;
    bottom:20%;
    display:block;
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    text-align: center;
    font-family: 'mntry', Helvetica, sans-serif;
    font-weight:normal;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
    z-index:2;
  }

  .date, .verse {
    position:absolute;
    display:table;
    bottom: 3%;
    text-align: center;
    width:100%;
    left:0;
    right:0;
    margin:0 auto;
    padding: 5px;
    color:#fff;
    font-family: "Libre Baskerville";
    font-style: italic;
    z-index:1;

    span {
      font-size: 0.8em;
      transition: font-size 0.2s ease;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

    }

    @include media($tablet) {
      padding: 10px;
      //width: 50%;
      span {
        font-size: 1em;
      }
    }
  }
  .verse {
    font-size:0.9em;
  }
  .date {
    bottom:8%;
    font-family: 'Lato';
    text-transform: uppercase;
    letter-spacing: 3px;
    //font-weight: bold;
    font-style:normal;
  }
}

#homepage-detail {
  background: $navy;
  padding: 30px 10px;
  color: #fff;
  .detail {
    position:relative;
    text-align: center;
    @include span-columns(12);
    img {
      width:100%;
      border: 5px solid #fff;
      box-shadow: 0px 0px 5px 0px #333;
    }

  }
}


@include media($tablet) {
  #hero {
    height: 500px;

    h1 {
      font-size: 8em;
    }
  }

  #homepage-detail {
    @include row;
    .detail {
      @include span-columns(6);
      @include shift(3);
    }
  }
}


@include media($desktop) {
  #hero {
    height: 100%;

    h1 {
      font-size: 12em;
      bottom:10%;
    }
  }

  #homepage-detail {
    padding: 60px 10px;
    h2 {
      padding-top: 40px;
      @include span-columns(5);
      display: block;
    }
    .detail {
      @include span-columns(12);
      @include shift(0);
      time,.vcard,p {
        @include span-columns(5);
        float:left;
      }
      p {
        margin-top:10px;
      }
      img {
        @include span-columns(6);
        float:right;
      }
    }
  }


}

