#menu {
  background: #112442 none repeat scroll 0% 0%;
}

.sidy__container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.sidy__pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
  }
}

.sidy__content {
  position: relative;
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.sidy__panel {
  position: absolute;
  overflow: auto;

  visibility: hidden;
  z-index: 100;

    &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    @include transition(opacity 0.5s);
    }
}

.sidy--opened {
    .sidy__pusher::after {
        opacity: 1;
        width: 100%;
        height: 100%;
        @include transition(opacity 0.5s);
    }

    .sidy__panel::after {
        opacity: 0;
        width: 0;
        height: 0;
        @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
    }
}

.sidy--after-none::after {
  display: none;
}

.sidy--to-open:focus {
  outline:none !important; /* overrides chrome default focus outline */
}


.menu-trigger {
  position:absolute;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  left: 10px;
  top:10px;

  z-index:10000;
  a {
    display:block;
    color: #fff;
    border-radius: 50%;
    border: 1px solid $navy;
    width:50px;
    height:50px;

    &:after {
      content: '';
      text-transform: uppercase;
      color: $navy;
      font-weight:bold;
      position:absolute;
      left: 110%;
      top:33%;
    }

    &:before {
      content: '\e610';
      font-family: 'icons';
      position: absolute;
      color:$navy;
      font-size:30px;
      font-weight: normal;
      margin:8px 0 0 9px;
    }


    &:active, &:hover, &:focus {
      outline:0;
    }

    span {
      text-indent: -999px;
      display:block;
    }
  }

  @include media($tablet) {
    top:30px;
    left:30px;
    a:after {
      content: 'menu';
    }
  }

}

body.about, body.party {
  .menu-trigger {
    a {
      border-color:#fff;
      &:before, &:after {
        color: #fff !important;
      }
    }
  }
}

#menu ul {
  margin:0;
  padding:0;
  list-style: none;
  padding-top: 80px;
  position: relative;
  background: url(../images/rings.png) center 20px no-repeat;

  li {
    margin:0;
    padding:0;
    a {
      display:block;
      padding: 1em 1em 1em 2em;
      border-top:1px solid rgba(0,0,0,0.1);
      text-decoration: none;
      text-transform: uppercase;
      color:#fff;
      &:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
      text-indent: 0;
      transition: text-indent 0.1s ease-in-out;

      &:hover {
        text-indent: 10px;
      }
      &:focus {
        background:rgba(0,0,0,0.1);
      }
    }
  }
}