#menu {
  height: 100%;
  position:absolute;
  left:0;
  top:0;
  width:240px;
  background: #112442 none repeat scroll 0% 0%;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  z-index:0;
  transform: translate3d(-50%,0,0);
  font-family: "Lato";
}

.push-contain {
  position: relative;
  left: 0px;
  z-index: 99;
  height: 100%;
  perspective: 1000px;
  transition: transform 0.5s ease 0s;
  -webkit-backface-visibility: hidden;
}

body {
  overflow-x:hidden;
}

body.menu-open {
  overflow:hidden;

  .push-contain {
    transform: translate3d(240px,0,0);
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
  }

  #menu {
    visibility: visible;
    transform: translate3d(0,0,0);
  }

}

.menu-trigger {
  position:absolute;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  left: 10px;
  top:10px;

  @include media($tablet) {
    top:30px;
    left:30px;
    &:after {
      content: 'menu';
      text-transform: uppercase;
      color: $navy;
      position:absolute;
      left: 110%;
      top:30%;;
    }
  }

  z-index:10000;
  a {
    display:block;
    color: #fff;
    border-radius: 50%;
    border: 1px solid $navy;
    width:50px;
    height:50px;

    &:before {
      content: '\e610';
      font-family: 'icons';
      position: absolute;
      color:$navy;
      font-size:30px;
      font-weight: normal;
      margin:8px 0 0 9px;
    }


    &:focus {
      outline:0;
    }

    span {
      text-indent: -999px;
      display:block;
    }
  }
}


#menu ul {
  margin:0;
  padding:0;
  list-style: none;
  padding-top: 80px;
  position: relative;
  background: url(../images/rings.png) center 20px no-repeat;

  li {
    margin:0;
    padding:0;
    a {
      display:block;
      padding: 1em;
      //border-bottom:1px solid rgba(0,0,0,0.3);
      text-decoration: none;
      text-transform: uppercase;
      color:#fff;

      text-indent: 0;
      transition: text-indent 0.2s ease-in-out;

      &:hover {
        text-indent: 10px;
      }
      &:focus {
        background:rgba(0,0,0,0.1);
      }
    }
  }
}