#sub-hero {
  position: relative;
  height: 320px;

  @include media($tablet) {
    height: 500px;
  }
  @include media($desktop) {
    height: 650px;
  }

  h1 {
    bottom:10%;
    display:block;
    position:absolute;
    margin:auto;
    left:0;
    font-family: 'libre-caslon';
    right:0;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    color: $navy;
    font-weight: 400;
    //text-shadow: 4px 4px 3px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 20px 0 8px;
    background: rgba(255,255,255,0.2);

    @include media($tablet) {
      bottom:20%;
    }
    @include media($desktop) {
      bottom: 20%;
    }

  }
}

body.about #sub-hero {
  background: url(../images/hero-about.jpg) no-repeat center center;
  background-size:cover;
  h1 {
    color: #fff;
  }
  @include media($tablet) {
    background: url(../images/hero-about.jpg) no-repeat ;
    //background: url(../images/hero-about.jpg) no-repeat center -100px fixed ;
    background-size:cover;
  }

}

body.party #sub-hero {
  // background-attachment: fixed;
  background: url(../images/test.png) center center;
  padding: 75px 20px 0;
  background: $navy;

  h1 {
    color: #fff;
  }

  .inner-container {
    width:100%;
    height: 100%;
  }
  h1 {
    bottom:5%;
  }


  @include media($tablet) {
    h1 {
      bottom:15%;
    }
    padding: 75px 75px 75px 75px;

  }
}

body.event #sub-hero {
  background: url(../images/hero-event.jpg) 50% no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

body.guests #sub-hero {
  background: url(../images/hero-guests.jpg) 50% no-repeat;
  background-size:cover;
  background: white;
}

body.registries #sub-hero {
  background: url(../images/hero-registries.jpg) 50% no-repeat;
  background-size:cover;
}



// Panels. This section is complex.
.panel {
  background: #fff;
  padding: 30px 0;

  .shrinkwrap{
    padding: 0 1.5em;
  }

  h2 {
    display:block;
    text-align:center;
  }

  aside {
    text-align: center;
  }

  &.pink {
    background: $pink-light;
    color: $navy;
  }

  &.navy {
    color:#fff;
    background: $navy;
  }

  &.grey {
    color: #fff;
    background: $grey;
  }


}

body.about {
  .panel {
    @include media($tablet) {
      padding: 60px 0 80px;

      aside {
        @include span-columns(8);
        @include shift(2);
      }

      article {
        @include span-columns(10);
        @include shift(1);
      }

    }

    @include media($desktop) {
      height: 70px 0 90px;

      .shrinkwrap {
        @include pad(0 3em);
      }

      aside {
        @include span-columns(6);
        @include shift(0);
        @include pad(0 default 0 0);
      }

      article {
        @include span-columns(6);
        @include shift(0);
        @include omega;
        @include pad(0 0 0 default);
      }

      &.reverse {
        aside {
          @include span-columns(6);
          @include shift(6);
          @include pad(0 0 0 default);
        }

        article {
          @include span-columns(6);
          @include shift(-12);
          @include pad(0 default 0 0);

        }
      }

    }
  }
}

body.registries {
  p {
    text-align: center;
  }
  article {
    @include span-columns(12);
    padding: 2em;
    text-align: center;

    @include media($tablet) {
      @include span-columns(6);
      @include shift(0);
      @include omega(2n);
    }
  }
}

#map-canvas {
  min-height: 250px;
  width:100%;
  img {
    width:auto;
    height:auto;
    max-width: initial;
  }
  @include media($tablet) {
    min-height: 350px;
  }

  @include media($desktop) {
    min-height: 400px;
  }
}

body.event {
  #sub-hero {
    background: #f2f2f2 url('../images/hero-event.jpg') center center no-repeat;
    background-size: cover;

    h1 {
      bottom: 5%;
      color: $navy;
    }
  }

  article.location {
    margin-bottom: 2em;

    a {
      text-decoration: none;
    }
    .time {
      padding: 20px 0;
      margin:0px 0 20px;
      display:block;
      border-top: 1px solid $grey;
      border-bottom:1px solid $grey;
      text-align: center;
      clear:left;
        font-weight: bold;

    }
    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
      .details {
        @include row;
      }
      .vcard {
        @include span-columns(8);
      }
      .time {
        clear:none;
        @include span-columns(4);
        margin-top:0.75em;
        margin-bottom: 0.75em;
        padding: 0.75em 1em;
        border-left: 1px solid $grey;
        border-top:none;
        border-bottom: none;
      }

    }

    @include media($desktop) {
      @include span-columns(6);
      @include shift(3);
    }

    i {
      &:before {
        font-size: 30px;
      }
      float:left;
      position: relative;
      top:-4px;
      margin-right: 1em;
    }

    .adr {
      width: 100%;
      float:left;
      margin: 0 0 20px 0;
    }

    h4, p {
      text-align: center;
    }

    a.website i {
      float:none;
      font-size: 1em;
      &:before {
        position:relative;
        top:2px;
        font-size: initial;
      }
      margin-right: 0;
    }
  }
}


body.guests {

  .panel {

    h3 {
      text-align: center;
    }

    .location {
      display:block;
      text-transform: uppercase;
      color: #777;
      padding-bottom: rem(10);
      font-family: 'Arvo';
      text-align: center;
    }

    .attraction {
      margin-bottom:30px;
    }

    aside {
      img {
        max-height: 100px;
      }
      margin-bottom: 20px;
    }

    .two-col {
      padding: 30px 0;
      border-top: 1px solid rgba(255,255,255,0.6);
      border-bottom: 1px solid rgba(255,255,255,0.6);
      clear:left;
      @include row;
      article {
        @include media($tablet) {
          @include span-columns(6);
          @include omega(2n);
          @include pad(0 3em);
        }
        p {
          text-align: center;
        }
      }
    }

    @include media($tablet) {

      h3 {
        text-align: center;
      }

      .location {
        text-align: center;
      }

      .attraction {
        margin-bottom:40px;
        @include span-columns(6);
        @include pad(0 2em);
        &:nth-child(2n+2) {
          @include omega;
        }
      }

      aside {
        @include span-columns(12);
        margin-bottom: 20px;
        img {
          max-height: 100px;
        }
      }

      article {
        @include span-columns(12);
      }

    }

    @include media($desktop) {

      .attraction {
        margin-bottom:40px;
        @include span-columns(4);
        @include pad(0 0);

        &:nth-child(2n+2) {
          @include span-columns(4);
        }

        @include omega(3n);

      }

      aside {
        @include span-columns(12);
      }

      article {
        @include span-columns(12);
      }

    }

  }

}

#scrollToTop {
  @include media($desktop) {
    display: none;
  }
  position:fixed;
  bottom: 1em;
  right:1.5em;
  height:40px;
  width: 40px;
  a {
    display: block;
    position: relative;
    top:0;
    left:0;
    height: 40px;
    width:40px;
    border-radius: 50%;
    border:1px solid #f2f2f2;
    background: rgba(255,255,255,0.6);
    &:after {
      content: 'TOP';
      position:absolute;
      top:14px;
      left:10px;
      right:0;
      margin:auto;
      font-size: 9px;
      //font-weight: bold;
      font-family: 'Arvo';
    }
    &:active {
      outline:none;
      background: #f2f2f2;
    }
  }
}

