
// Colors
// $navy  : #080716;
// $pink  : #EBC8CF;

$navy  : #112442;
$pink  : #FE7193;
$pink-light: #FFDCDC;

$grey: #9291A4;

// Breakpoints
$mobile: new-breakpoint( max-width 567px );
$tablet: new-breakpoint( min-width 568px );
$desktop: new-breakpoint( min-width 1000px );