body {
  font-family: "Lato";
  color: $navy;
}

p, h1,h2,h3,h4,h5,h6 {
  transition: font-size 0.2s ease-in-out;
}

p { line-height: 1.5;
    margin: 0 0 1em;    }

h1 {
  font-size: 2em;
}

h2 {
  font-weight: 200;
  font-size: rem(40px);
}

h3 {

}

address {
  font-style: normal;
  padding: 10px;

}

.vcard {
  .org {
    padding-bottom: 10px;
    font-weight: 700;
  }
  .adr {
    padding-bottom: 10px;
    font-size: 0.8em;
  }
}