body {
  font-family: "Arvo", Georgia, Times, serif;
  letter-spacing: normal;
  //font-size: 0.8em;
  color: $navy;
}

p, h1,h2,h3,h4,h5,h6 {
  transition: font-size 0.2s ease-in-out;
}

p {
  font-family: "Lato";
  line-height: 1.7;
  margin: 0 0 1em;
}

.fact {
  font-family: "Libre Baskerville";
  font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "libre-caslon", 'Times', serif;
}

h1 {
  font-size: 3em;
  @include media($tablet) {
      font-size: 4em;
  }
}

h2 {
  //font-style: italic;
  font-size: rem(20px);

  @include media($tablet) {
    font-size: rem(40px);
  }

  //font-family: 'Libre Baskerville';
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: normal;
  word-spacing: 0.2em;
}

h3, h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
}



address {
  font-style: normal;
  padding: 10px;

}

.vcard {
  .org {
    padding-bottom: 10px;
    font-weight: 700;
  }
  .adr {
    padding-bottom: 10px;
    font-size: 0.8em;
  }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 0 2em;
}
